{% extends "base.html.j2" %}

{% block body %}
<h2>Radio list</h2>

<table class="table" >
  {% for item in db %}
  <tr>
    <th><a href="#" class="foot-player-action" data-player-action="play" data-player-radio-id="{{ item.id }}" >{{ item.name }}</a></th>
    <td>{{ item.url }}</td>
    <td>
      <a class="button" href="{{ url_for('radio_delete', id=item.id) }}"><i class="far fa-trash-alt"></i></a>
      <a class="button" href="{{ url_for('radio_edit', id=item.id) }}"><i class="far fa-edit"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{{ url_for('radio_add') }}" class="btn btn-success"> Add radio</a>
{% endblock %}
